h1{
    color: #ffffff;
    font-family: 'Roboto', arial;
}
h3{
    color: #ffffff;
    font-family: 'Roboto', arial;
}
h4{
    color: #ffffff;
    font-family: 'Roboto', arial;
}
body{
     background: linear-gradient(to right,#005C98, #505BDA);
}

