h1{
    color: #55667a;
    font-family: 'Roboto', arial;
}
body{
     background: #fff;
}
h3{
    color:rgb(0, 0, 0)
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
    background: rgb(0, 0, 0);
    width: 90%;
    max-width: 100000px;
    margin:auto

}
menu li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 20px;
    display: block;
}
menu li{
    display: inline-block;
    text-align: center;
}
menu li a:hover{
    background: #ef8354;
}
    

